/* @import "~antd/dist/my-theme.less"; */
/* @import "~antd/dist/antd.css" ; */
/* @import "~antd/dist/antd.less"; */

.radioStyle {
  display: block;
  height: 30px;
  /* lineheight: 30px; */
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom-color: #74cf4e; /*Overriden property*/
  color: green !important;
}
ant-menu-horizontal > .ant-menu-item-selected a {
  border-bottom-color: #74cf4e!important;
  color: #74cf4e!important;
}
.popoverContent {
  position: absolute;
  /* z-index: -1; */
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #bfbfbf transparent;
  transition-duration: 0.3s;
  transition-property: transform;
  z-index: 10;
  opacity: 1;
  visibility: visible;
}
